@use "@org/ui/styles/index" as *;

.contact {
	position: relative;

	&__container {
		@include container(0);
		
		display: flex;
		align-items: center;
		flex-direction: column;
		@include adaptiveValue("padding-top", 60, 80);
		@include adaptiveValue("padding-bottom", 0, 24);
		position: relative;
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
		row-gap: toRem(10);

		@media (min-width: toRem(880)) {
			flex-direction: row-reverse;
			padding-left: toRem(35);
		}
	}

	&__content {
		flex: 1 1 60%;
		max-width: 100%;
		padding: 0;
		padding-inline: toRem(16);

		&_center {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@media (min-width: $tablet) {
			@include adaptiveValueMF(padding-inline, 33, 15);
		}
	}

	&__title {
		align-items: start;
	}

	&__description {
		@include adaptiveValueMF(margin-block, 56, 24);
	}

	&__button {
		margin-top: toRem(24);
	}

	&__picture {
		flex: 1 0 toRem(360);
		width: 100%;
		max-width: 100%;
		height: auto;

		@media (min-width: toRem(880)) {
		}
	}

	&__emails {
		display: flex;
		flex-direction: column;
		row-gap: toRem(20);
		padding-inline: toRem(36);
	}

	&__email {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__side-title {
		left: 0;
	}
}