@use '@org/ui/styles/index' as *;

.feature-products {
  border-top: toRem(1) solid $color-oyster;
  border-bottom: toRem(1) solid $color-oyster;
  @include adaptiveValueMF(margin-bottom, 22, 0);
  content-visibility: auto;
  contain-intrinsic-size: auto 550px;

  &._dark {
    border-color: $color-claudy;
    color: $color-claudy;
    background-color: $color-opal;
  }

  &__container {
    @include container();
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    padding-block: toRem(24);
  }

  &__swiper-container {
    width: 100%;
  }

  &__button {
    display: inline-block;
    margin: toRem(24);
  }
}
